# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# Markdown files
[*.md]
trim_trailing_whitespace = false
max_line_length = off

# YAML files
[*.{yml,yaml}]
indent_size = 2

# JSON files
[*.json]
indent_size = 2

# JavaScript/TypeScript
[*.{js,jsx,ts,tsx}]
indent_size = 2

# CSS/SCSS
[*.{css,scss,sass}]
indent_size = 2

# Shell scripts
[*.sh]
indent_size = 2

# Package files
[{package.json,composer.json}]
indent_size = 2

# Makefiles require tabs
[Makefile]
indent_style = tab

# Blade templates
[*.blade.php]
indent_size = 2
